section
    header
        h2 Content Scripts

    .break
        ul
            li Run a custom script on the page
            li Can access DOM elements
            li
                div Cannot interact with JavaScript variables
                ul.small-80
                    li Use "messages" to communicate back and forth
