section
    header
        h2 chrome.*

    .break
        div
            a(href="https://developer.chrome.com/extensions/api_index") https://developer.chrome.com/extensions/api_index

        div
            img(src="slides/01-ChromeExtensions/images/ApiDocs.png" width="75%")