section
    header
        h2 What is IOT

    .break
        ul
            li The internet allows people to communicate with each other. 
            li The internet of things is about giving things the ability tosense and communicate to other things.
