section
    header
        h2 Examples of existing products
    .break
        ul
            li Smart phones track our steps, our location, light in the room, among other things.
            li Activity bands track steps, activity and sleep.
            li Nest thermostat recognizes whether you are home or not. Tracks your patterns to save energy.
            li Wifi lightbulbs to dim lights and change color based on phone input.
            li Whistle is an activity monitor for your dog.
