section
    header
        h2 Applications
    .break
        ul
            li Temperature and humidity monitor.
            li Light sensor.
            li Motion sensor.
            li Tweet out information.
            li Digital clock or Stopwatch.
