section
    header
        h2 What is Meteor
    .break
        Full stack open source platform for building mobile webs in javascript
        100% pure javascript both front end and back end
        One codebase for all platforms
        Easy to get started with CLI tools

        Goal is to allow small teams to Build advanced apps very quickly

        The view layer is Meteor's Blaze, but can be used with any framework like Angular

        Livequery takes a production database like MongoDB and makes it a real time database like Firebase
        Full stack package system 
        Build system that includes cordova/phone gap

    header
        h2 Applications of Meteor
    .break
        Updates without refreshing the browser
        Real time collaboration

    header
        h2 Meteor features
    .break
        Hot code push -- when Meteor detects a change to the file, it rebuilds the app and pushes it to the browser when developing. It can even push changes directly to users while they are using the app without losing state. 
        Handle bar syntax 

    header
        h2 Client and server side code syntax
        pre
            if (Meteor.isServer) {
            // Code that runs only on the server
            }
            if (Meteor.isClient) {
            // Code that runs on the client
            }
            // Otherwise runs on both the client and the server

    Strong packaging system
    AtmosphereJS.com similar to npm
    
    It's just JavaScript
