doctype
html(lang='en')
    include head.html
    body
        .reveal
            .slides
                section
                    include slides/01-ChromeExtensions/01-Intro
                    include slides/01-ChromeExtensions/02-Basics
                    include slides/01-ChromeExtensions/03-Manifest
                    include slides/01-ChromeExtensions/04-InterfaceTypes
                    include slides/01-ChromeExtensions/05-ContentScripts
                    include slides/01-ChromeExtensions/06-ChromeApis
                section
                    include slides/02-Hadoop/01-Intro
                section
                    include slides/03-MeteorJS/01-Intro
                section
                    include slides/04-R/01-Intro
                section
                    include slides/05-CleanCode/01-Intro
                section
                    include slides/06-OWINwASPvNext/01-Intro
                    include slides/06-OWINwASPvNext/02-AspNetOverview
                    include slides/06-OWINwASPvNext/03-WebApiOverview
                    include slides/06-OWINwASPvNext/04-MissingLink
                    include slides/06-OWINwASPvNext/05-OWIN
                    include slides/06-OWINwASPvNext/06-OWIN-Basics
                    include slides/06-OWINwASPvNext/07-StepByStep-01
                    include slides/06-OWINwASPvNext/08-StepByStep-02
                    include slides/06-OWINwASPvNext/09-StepByStep-03
                    include slides/06-OWINwASPvNext/10-StepByStep-04
                    include slides/06-OWINwASPvNext/11-StepByStep-05
                    include slides/06-OWINwASPvNext/12-StepByStep-06
                section
                    include slides/07-InternetOfThings/01-Intro

    include footer.html
