doctype
html(lang='en')
    include head.html
    body
        .reveal
            .slides
                section
                    include slides/01-ChromeExtensions/01-Intro
                section
                    include slides/02-Hadoop/01-Intro
                section
                    include slides/03-MeteorJS/01-Intro
                section
                    include slides/04-R/01-Intro
                section
                    include slides/05-CleanCode/01-Intro
                section
                    include slides/06-OWINwASPvNext/01-Intro
                section
                    include slides/07-InternetOfThings/01-Intro

    include footer.html
