section
   header
      h2 What is it and why do I care?

   .break
      ul
         li R is an open source implementation of S
         li Great for numerical and graphical analysis
         li Is a language and an environment
         li Cross platform support
         li active development and large community
         li FREE!
