section
   header
      h2 Great! So now what?

   .break
      ul
         li Load up data from
            ul.small-80
               li File-based data
               li Web-based data
               li Databases (using RODBC extension)
               li ...the list goes on
         li Clean, transform, and merge data
         li Visualize it using R's comprehensive set of graphing utilities

