section
   header
      h2 How do I get started?

   .break
      ul
         li Visit these resources
            ul.small-80
               li
                  a(href="http://www.cran.r-project.org") R project page
               li
                  a(href="http://www.rstudio.com/") R Studio
               li
                  a(href="http://www.mayin.org/ajayshah/KB/R/") R by example
               li
                  a(href="https://www.stat.auckland.ac.nz/~paul/RGraphics/rgraphics.html") R graphics
               li
                  a(href="http://www.r-bloggers.com/in-depth-introduction-to-machine-learning-in-15-hours-of-expert-videos/") R-bloggers machine learning
               li
                  a(href="http://www.r-bloggers.com") R-Bloggers in general
