section
    header
        h2 The Promised Land

    .break
        img(src="slides/06-OWINwASPvNext/images/MissingLink.png" width="75%")

    .break.two-column.small-60
        .col
            h3 Pros
            ul
                li Lightweight, fast
                li Minimal dependencies
        .col
            h3 Cons
            ul
                li Process management and low-level APIs
                li
                    div Re-invent the wheel
                    ul.small-80
                        li Each framework had to build host support
