section
    header
        h2 OWIN Basics

    .break
        div Environment Dictionary
        pre IDictionary&lt;string, object&gt;

    .break
        div AppDelegate
        pre Func&lt;IDictionary&lt;string, object&gt;, Task&gt;

    .break
        div
            img(src="slides/06-OWINwASPvNext/images/ThatsAllFolks.png" width="10%")
        div.small-60 That's all Folks!&trade;