section
   header
      h2 Hadoop storage

   .break
      ul
         li HDFS
            ul.small-80
               li Hadoop
               li Distributed
               li File
               li System
         li Designed to store very large files with
            ul.small-80
               li Streaming data access
               li clusters of commodity hardware
         li Not suitable for small files

