section
   header
      h2 Map Reduce

   .break
      ul
         li Programming model and an associated implementation for processing and generating large data sets with a
            ul.small-80
               li Parallel
               li Distributed Algorithm on a
               li Cluster (HDFS)
         li Single Reducer (multiple slows down the process with sorting and shuffling)
