section
    header
        h2 Why write clean code?
    .break
        ul
            li Programmers spend 30% creating code, 70% maintaining code
            li Programmers spend 90% reading code, 10% writing code
