section
    header
        h2 What is clean code?
    .break
        p.
            You know you are working on clean code
            when each routine you read turns out to
            be pretty much what you expected.
            - Ward Cunningham (WikiWikiWeb)
    .break
        ul
            li Good code is simple, readable, understandable, maintainable and testable.
            li Bad code can be measured by WTFs per minute.
