section
    header
        h2 How do you write clean code?
    .break
        ul
            li Write code for the reader, not for the author or the machine
            li Principle of Least Astonishment
