section
    header
        h2 Naming
        h3 Classes and Methods
    .break
        div Class Names
        pre. 
            // Good - noun or noun phrase
            public class Customer
            // Bad - fuzzy names
            public class EntityProcessor
    .break
        div Method Names
        pre.
            // Good - verb or verb phrase
            public void AddCustomer()
            // Bad - fuzzy names
            public void Process()
