section
    header
        h2 Naming
        h3 Length of method names
    .break
        div Length decreases with scope
        pre.
            // Short public method names
            public void GetCustomers();
            public void Save();
            // Longer private method names
            private string ParseHtmlFromFile()
            private int GetIdFromAccountHolder()
