section
    header
        h2 Functions
    .break
        ul 
            li Functions should be small -- less than 20 lines
            li Minimize the number of parameters
            li Avoid flag arguments in favor of two separate methods
            li Use smaller named functions, instead of one huge function
