section
    header
        h2 Comments
    .break
        ul 
            li Comments represent a failture
            li Old comments are a *lie*
            li Explain yourself in code
            li Kill commented zombie code
            li TODO and summmary Documentation are necessary comments
